.aboutCardsContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.icon {
    width: 100%;
    max-width: 80px;
}

.aboutCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 2.5vw;
    gap: 50px;
    margin: 0;
    width: 100%;
    height: 340px;

    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.aboutCard img {
    width: 80px;
    height: 80px;
}

.cardText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #474747;
    padding: 0;
}