.missionContainer {
    margin-top: 100px;
}

.boxWrapper {
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.img_wrapper {
    width: 100%;
    max-width: 46%;
    padding: 5px;
}

.boxWrapper img {
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}


.card_wrapper {
    width: 100%;
    max-width: 46%;
    padding: 15px 0px;
    border: none;
    background-color: #f5f5f5;
}

.card_header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
}

.card_title {
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.1em;
    color: #474747;
}

.card_description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #474747;
}

.card_item {
    border: none;
    margin-top: 15px;
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.1em;
    color: #919191;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
}